 <!doctype html>
{%load staticfiles%}
<html lang="en">
<head>

  <title>Giphy Vs Amazon</title>

<link rel="stylesheet" type="text/css" href= "{% static '/styles.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>
<nav>
{%if active_user %}
  <a href="/logout/">Logout</a> |
    <a href="/stats/">Stats</a> |
      <a href="/XXX/">Play Game</a>
  {% else %}
    <a href="/login/">Login</a> |
    {% endif %}
</nav>

{% block body_block %}{% endblock %}
</body>
</html>


